/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  color: #FFFFFF;
}
a {
  color: #18191F;
  text-decoration: none;
}
a:hover {
  color: #FF2734;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
}
.justify-items-center {
  justify-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
span {
    color: #FF2734;
}
button {
    background-color: transparent;
    border: none;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  section {
      padding: 20px 0;
      overflow: hidden;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background: #F1F2F4;
  box-shadow: 0 1px 0 #E5E9F2;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 1px 0 #E5E9F2;
}

.header .logo {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #18191F;
  font-family: "Manrope", sans-serif;
  margin-top: 3px;
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 16px;
}

.header .logo span {
  color: #FF2734;
}

 @media (max-width: 777px) {
  .header .logo {
    font-size: 20px;
    font-weight: 800;
  }
  .header .logo span {
    font-size: 20px;
  }
  .header .logo img{
    height: 36px;
    display: block;
    padding-left: 5px;
  }

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #18191F;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #FF2734;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  padding-right: 15px;
  color: #FF2734;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 190px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 13px;
  color: #18191F;
}
.copyright {
    display: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #FF2734;
}
@media (max-width: 777px) {
    .copyright {
      display: block;
      position: absolute;
      padding: 10px 15px;
      font-size: 12px;
      color: #18191F;
      opacity: 25%;
      bottom: 0;
    }
}
/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.main-section {
    margin: 80px auto 0 auto;
}
.main-header {
    width: auto;
}
.main-header h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    color: #18191F;
}
.main-header p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: rgba(24, 25, 31, 0.6);
    margin-top: 42px;
}
.main-header a img{
    width: 159px;
    margin-top: 14px;
}
.m-view {
    position: relative;
    z-index: 103;
}
.animation {
    position: relative;
    bottom: 0;
    left: 0;
    height: 240px;
}
.animation .parking {
    position: relative;
    left: -15px;
    bottom: 390px;
    z-index: 101;
    width: 100%;
}
.animation .car {
    position: absolute;
    left: -15px;
    top: 75px;
    z-index: 102;
}
.common-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: #18191F;
}
.wvr-parking {
    width: 90%;
}
.wvr-txt {
    width: 85%;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 148.2%;
    color: rgba(24, 25, 31, 0.6);
}
.theme-color {
    background-color: #F1F2F4;
}
.common-txt1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
}
.common-txt2 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #18191F;
}
.hiw-img-margin {
    margin-bottom: 16px;
}
.box:hover {
    transform: scale(0.8);
    transition-duration: 0.5s;
}
.ben-img {
    width: 75%;
}
.b-con {
    width: 513px;
    padding: 25px;
    background: rgba(236, 238, 241, 0.75);
    border-radius: 22px;
}
.black-line {
    width: 100%;
    border: 2px solid #18191F;
}
.p-circle {
    position: absolute;
    width: 440px;
    height: 220px;
    background: linear-gradient(180deg, #FFFFFF -50%, rgba(255, 255, 255, 0.04) 75%), #FF2734;
    bottom: -35px;
    border-radius: 0 0 300px 300px;
    padding: 60px;
}
.partner-img {
    width: auto;
    height: 65px;
}
.r-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FF2734;
    margin: 11px 11px 11px 0;
}
.f-r-revrse {
    flex-direction: row-reverse;
}

@media (max-width: 777px) {
    .main-header h1 {
        width: 70%;
        font-size: 24px;
        line-height: 36px;
    }
    .main-header p {
        width: 85%;
        font-size: 14px;
        line-height: 146.2%;
    }
    .main-header a img{
        width: 100px;
    }
    .top-back {
        width: 100%;
        left: auto;
        position: absolute;
        right: 185px;
    }
    .animation {
        height: auto;
        width: 100%;
    }
    .animation .parking {
        width: 150%;
        top: -5px;
        left: auto;
        right: 50%;
    }
    .animation .car {
        left: -15px;
        top: 62%;
        width: 30%;
    }
    .common-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    .f-d-column {
        flex-direction: column;
    }
    .wvr-parking {
        width: 267px;
    }
    .wvr-txt {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-top: 30px;
    }
    .m-box {
        margin: 20px auto;
    }
    .common-txt1 {
        font-size: 14px;
        line-height: 19px;
    }
    .common-txt2 {
        width: 75%;
        font-size: 10px;
        line-height: 15px;
    }
    .hiw-img-margin, .ben-img {
        width: 50%;
        justify-self: center;
    }
    .b-con {
        width: auto;
        padding: 28px;
        margin-top: 20px;
    }
    .offer-img {
        width: 60%;
        justify-self: center;
        margin-bottom: 20px;
    }
    .r-dot {
        width: 6px;
        height: 6px;
        margin: 7px 7px 7px 0;
    }
    .p-c-con {
        width: 291px;
        height: 150px;
    }
    .p-circle {
        width: 291px;
        height: 146px;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        padding: 35px;
    }
    .partner-img {
        width: auto;
        height: 50px;
    }
    .t-a-center {
        text-align: center;
    }
    .m-d-grid {
        display: grid;
    }
    .j-s-center {
        justify-self: center;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.white-container {
    width: 80%;
    height: 430px;
    padding: 64px 48px;
    background: #FFFFFF;
    border-radius: 36px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(6px 6px 22px rgba(0, 0, 0, 0.08));
    align-content: space-between;
    display: grid;
}
.mt-50 {
    margin-top: 70px;
}
.white-container img {
    width: 100%;
    justify-self: center;
}
@media (max-width: 777px) {
    .mycar {
        width: 100%;
    }
    .white-container {
        width: 313px;
        height: 364px;
        justify-self: center;
        margin-bottom: 25px;
    }
}
/*--------------------------------------------------------------
# Career
--------------------------------------------------------------*/
.c-resume {
    width: 60%;
}
.join-us {
    width: 181px;
    height: 57px;
    background: #FF2734;
    border-radius: 8px;
    color: #FFFFFF;
}
@media (max-width: 777px) {
    .join-us {
        width: 112px;
        height: 38px;
        border-radius: 5px;
        font-size: small;
        margin: auto;
    }
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.team-circle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.team-member1 {
    background: #FFFFFF url("../img/about/Team1.png") no-repeat center;
    background-size: cover;
}
.team-member2 {
    background: #FFFFFF url("../img/about/Team2.png") no-repeat center;
    background-size: cover;
}
.team-member3 {
    background: #FFFFFF url("../img/about/Team3.png") no-repeat center;
    background-size: cover;
}
.about-box:hover .team-circle {
    transform: scale(0.9);
    transition-duration: 0.5s;
}
@media (max-width: 777px) {
    .team-circle {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .about-w {
        width: 80%;
    }
}
/*--------------------------------------------------------------
# Get App Link
--------------------------------------------------------------*/
.get-con {
    width: 85%;
}
.get-con h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}
.get-con p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}
.getapp-con {
    width: auto;
    height: auto;
    margin-top: 48px;
    display: flex;
}
.getapp-con p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}
.getapp-con a img{
    width: 135px;
}
.getapp-con input {
    width: 255px;
    height: 40px;
    background-color: #F1F2F4;
    border-radius: 9px;
    border: none;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    outline: none;
}
.getapp-con button{
    position: absolute;
    top: 6px;
    right: 20px;
}
.s-mobile {
    position: relative;
}
.s-mobile img {
    position: absolute;
    top: -30px;
    right: 75px;
    width: 50%;
}
@media (max-width: 777px) {
    .getlink {
        height: 550px;
    }
    .m-view {
        flex-direction: column;
    }
    .get-con {
        width: auto;
    }
    .get-con h1{
        width: 75%;
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
    }
    .get-con p {
        width: 75%;
        font-size: 12px;
        line-height: 20px;
    }
    .getapp-con {
        display: flex;
        justify-content: space-between;
    }
    .getapp-con p {
        width: auto;
        font-size: 12px;
        line-height: 20px;
    }
    .getapp-con a img{
        height: 31px;
        width: auto;
    }
    .getapp-con input {
        width: 195px;
        height: 31px;
        border-radius: 7px;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
    }
    .getapp-con button{
        top: 1px;
        right: 5px;
    }
    .getapp-con button svg{
        width: 15px;
    }
    .s-mobile img {
        position: absolute;
        top: 25px;
        width: 50%;
        left: 25%;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    background: #F1F2F4;
    font-size: 14px;
}
.footer .footer-top {
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-info, .footer .footer-top .footer-links  {
    margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
    width: 56px;
    margin-right: 25px;
}
.footer .footer-top .footer-info .logo {
    font-weight: 800;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #18191F;
    font-family: "Manrope", sans-serif;
    margin-top: 3px;
}
.footer .footer-top .footer-info .logo span {
    color: #FF2734;
}
.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #18191F;
    font-family: "Manrope", sans-serif;
}
.footer .footer-top h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #18191F;
    position: relative;
    padding-bottom: 24px;
}
.footer .footer-top .footer-links ul a {
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
.social-links {
  display: flex;
}
.social-links a {
    font-size: 17px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: rgba(24, 25, 31, 0.1);
    display: grid;
    align-items: center;
    justify-items: center;
    color: #18191F;
    margin-right: 16px;
    transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
    color: #FF2734;
}
@media (max-width: 777px) {
  .footer .footer-top .footer-links ul li, .footer .footer-top .footer-info .logo {
    justify-content: center;
  }
  .footer .footer-top .footer-info, .footer .footer-top .footer-links  {
    margin-bottom: 0;
  }
  .footer .footer-top .social-links {
    width: 60%;
    margin: auto;
    justify-content: space-around;
  }
  .footer .footer-top .social-links a {
    margin: 0;
  }
  .t-align-center {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
#testimonial-slider{
    padding: 0 20px 35px 20px;
    text-align: center;
}
.testimonial {
    background: white;
    border-radius: 10px;
    padding: 40px;
    height: 250px;
}
.testimonial .description{
    font-family: 'Manrope', sans-serif;
    text-indent: 30px;
    position: relative;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #18191F;
}
.testimonial .description:before{
    content: '“';
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: -25px;
    font-size: 72px;
    color: #FF2734;
}
.owl-buttons{
    display: none;
}
.testimonial .title{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FF2734;
    text-transform: capitalize;
    margin: 40px 0 0;
}
.testimonial .post{
    font-family: 'Manrope', sans-serif;
    display: block;
    font-size: 12px;
    color: #18191F;
}
.owl-pagination {
    display: flex;
    justify-content: space-around;
}
.owl-prev,
.owl-next {
    display: none;
}
.owl-theme .owl-controls{
    margin-top: 36px;
}
.owl-theme .owl-controls .owl-page span{
    width: 60px;
    height: 60px;
    border: 4px double #fff;
    border-radius: 50%;
    background: url("../img/testimonials/1.png") no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out 0s;
}

.owl-theme .owl-controls .owl-page:nth-child(2) span{
    background: url("../img/testimonials/2.png") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span{
    background: url("../img/testimonials/3.png") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls .owl-page:nth-child(4) span{
    background: url("../img/testimonials/4.png") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls .owl-page:nth-child(5) span{
    background: url("../img/testimonials/5.png") no-repeat;
    background-size: cover;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span{
    border-color: #FF2734;
    opacity: 1;
}
.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity: 0.5;
}

@media (max-width: 777px) {
    .testimonial {
        padding: 30px;
        height: 400px;
    }
    .testimonial .description{
        font-size: 12px;
        line-height: 23px;
    }
    .owl-theme .owl-controls .owl-page span{
        width: 50px;
        height: 50px;
    }
}